In [5]:
import sqlite3
conn =sqlite3.connect("C:\\Users\\DELL\\Desktop\\Assignment\\data.db")

cursor = conn.execute("select account, type, residence, date_joined from Clients")
print(cursor.fetchall)                  
# for row in cursor:
#    print ("account = ", row[0])
#    print ("type = ", row[1])
#    print ("residence = ", row[2])
#    print (" date_joined= ", row[3], "\n")
print ("Operation done successfully")
conn.close()

<built-in method fetchall of sqlite3.Cursor object at 0x000001532811A180>
Operation done successfully

In [12]:
import sqlite3
import pandas as pd
conn =sqlite3.connect("C:\\Users\\DELL\\Desktop\\Assignment\\data.db")
query = "select * from Clients"
client = pd.read_sql(query, conn)
print ("Operation done successfully")
conn.close()

Operation done successfully

In [13]:
conn =sqlite3.connect("C:\\Users\\DELL\\Desktop\\Assignment\\data.db")
query = "select * from Transactions"
transactions = pd.read_sql(query, conn)
print ("Operation done successfully")
conn.close()

Operation done successfully

In [14]:
conn =sqlite3.connect("C:\\Users\\DELL\\Desktop\\Assignment\\data.db")
query = "select * from Campaigns"
campaigns = pd.read_sql(query, conn)
print ("Operation done successfully")
conn.close()

Operation done successfully

In [15]:
print(client.head())

   account    type residence date_joined  indication_coupon  \
0     5019  type_6        ua  2018-06-18                308
1     3655  type_6        ve  2017-09-04                 83
2     2809  type_6        br  2017-01-16                308
3     3876  type_6        mm  2017-11-01                232
4     4973  type_6        lk  2018-06-09                308

   first_deposit_amount first_deposit_date  first_transaction_amount  \
0               9090.91         2018-06-18                       NaN
1               9090.91         2017-09-04                  0.120000
2               9090.91         2017-01-16                  0.205556
3               9090.91         2017-11-01                       NaN
4               9090.91         2018-06-09                  0.110000

  first_transaction_date  balance_amount
0                   None         9090.91
1             2017-09-04      -191834.62
2             2017-01-16     -3679886.14
3                   None       -90909.09
4             2018-06-11         8974.12

In [16]:
print(transactions.head())

  transaction_date  account  total_buy  total_sell  total_deposits  \
0       2018-05-25     1093        NaN         NaN             NaN
1       2017-03-18     1093       7.50        6.50           100.0
2       2017-03-17     1093      48.63       38.51          1000.0
3       2018-12-10     2622      36.29       32.99             NaN
4       2018-12-09     2622     101.19      102.56             NaN

   total_withdrawals  count_contracts  count_deposits  count_withdrawals
0               3.15                0               0                  1
1                NaN               72               1                  0
2                NaN               93               2                  0
3                NaN               44               0                  0
4                NaN               76               0                  0

In [17]:
print(campaigns.head())

   start_date    end_date  total_spend country
0  2017-01-03  2017-01-04      9935.67
1  2017-01-04  2017-01-06     17696.41      id
2  2017-01-08  2017-01-12     22541.26      in
3  2017-02-13  2017-02-18       745.89      ng
4  2017-05-02  2017-05-03     15338.78      id

In [19]:
client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
account                     5000 non-null int64
type                        5000 non-null object
residence                   5000 non-null object
date_joined                 5000 non-null object
indication_coupon           5000 non-null int64
first_deposit_amount        3959 non-null float64
first_deposit_date          3964 non-null object
first_transaction_amount    2606 non-null float64
first_transaction_date      2608 non-null object
balance_amount              3964 non-null float64
dtypes: float64(3), int64(2), object(5)
memory usage: 390.7+ KB